extends layout

include mixins/_farmCard

block content
	.inner
		h2 #{farmTag || 'Tags'}
		ul.tags
			each t in farmTags
				li.tag
					a.tag__link(href=`/farmTags/${t._id}` class=(t._id === farmTag ? 'tag__link--active' : ''))
						span.tag__text= t._id
						span.tag__count= t.count

		.farms
			each farm in farms
				+farmCard(farm)
	